<div class="container mt-5 pt-5 text-center">
  <div class="display-2">Welcome to the Finance Tracker</div>
  <h2 class="pt-5">Sign Up</h2>
  <h2 class="pt-3">Search Stocks</h2>
  <h2 class="pt-3">Follow Friends</h2>


<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'devise-links' %>

</div>
