
@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome';


@import 'bootstrap/dist/css/bootstrap';

@media(max-width: 900px) and (min-width: 200px) {
 .left-padding {padding-left: 0px !important}
}


html {
  color: white;
}

body {
  /* color: #fff; */
  background-image: linear-gradient(rgba(46, 61, 52, .73), rgba(46, 61, 52, 0.53)), url('stocks.jpg');
  background-size: cover;
  background-color: rgba(#fff, .7);
  opacity: .75;
  padding: 8rem;
  padding-top: 4rem;
}

.navbar {
  margin-top: -50;
  padding-top: -190;
}

.navbar-brand {
  font-size: 2rem;
  color: #00FB72!important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(46, 61, 52, 0.93);
  color: #0FC58E;
}
.logout-btn {
  margin-right: .5rem;
}
.login-btn {
  background-color: #FFF859;
  border: solid 2px #CCF332;
  color: #19FE73;

  &:hover {
    background-color: #19FE73;
  }
}
em {
  color: #FF4B55;
}

.no-right-padding {
  padding-right: 0!important;
}
.no-left-padding {
  padding-left: 0!important;
}
.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}
.user-name {
  margin-top: .45rem;
  padding-right: 1rem;
}
.search-btn {
  border-style: solid;
  border-width: 2px;
}
.login-container {
  padding-top: 7rem;
}
.devise-links {
  color: #19FE73;

  &:hover {
    color: #CCF332;
  }

}
.display-3 {
  color: #FFF859;

}
.display-2 {

  color: #CCF332;
}
h2 {
  color: #FFF859;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.welcome-links {
  color: #FFF859;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2;
  &:hover {
    color: #00FB72;
  }
}
a.welcome-links {
  padding-top: 3rem;
}
.cancel-btn {
  // background-color: #16C3AC;
  background-color: #c10054;
  border: solid 2px #c10054;
  color: #fff;
  &:hover {
    background-color: #19FE73;
  }
}

.f-label {
  color: #FEEE59;
}
.nav-link {
  color: #16C3AC!important;
}
.nav-item {
  color: #009AD8;
}
.form-group i {
  color: #FF4B55;
}
