@import 'bootstrap/dist/css/bootstrap';

// .bg-img {
//   background: image_url('stocks.jpg');
//   // background: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), image_url('stocks.jpg');
//   background-size: cover;
//   background-position: center;
// }

// body {
//   background-color: #219e4d;
//   // background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url('stocks.jpg');
//   background-image: linear-gradient(rgba(121, 193, 71, 0.53), rgba(16, 29, 44, 0.53)), url('stocks.jpg');
//   background-size: cover;
//   background-position: center;
//
//   // background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url('stocks.jpg');
//
// }

// .bg-img {
//   // background-color: #54483A;
//   background-color: #219e4d;
//   // background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url('stocks.jpg');
//   background-image: linear-gradient(rgba(121, 193, 71, 0.53), rgba(16, 29, 44, 0.53)), url('stocks.jpg');
//   background-size: cover;
//   background-position: center;
//   padding: 8rem;
//   padding-top: 4rem;
//
//   justify-content: center;
// }
.navbar-brand {
  font-size: 2rem;
}
.logout-btn {
  margin-right: .5rem;
}
.port-heading {
  padding-top: 3rem;
}
.search-area {
  padding-top: 5rem;
}
.no-right-padding {
  padding-right: 0!important;
}
.no-left-padding {
  padding-left: 0!important;
}
.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}
.user-name {
  margin-top: .45rem;
  padding-right: 1rem;
}
.search-btn {
  border-style: solid;
  border-width: 2px;

}
