// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome';



body {
  background-color: #eee;
}

.navbar {
  margin-top: -50;
  padding-top: -190;
}
.navbar-brand {
  font-size: 2rem;
}
.logout-btn {
  margin-right: .5rem;
}
.port-heading {
  padding-top: 3rem;
}
.search-area {
  padding-top: 5rem;
}
.no-right-padding {
  padding-right: 0!important;
}
.no-left-padding {
  padding-left: 0!important;
}
.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}
.user-name {
  margin-top: .45rem;
  padding-right: 1rem;
  color: #bbb;
}
.search-btn {
  border-style: solid;
  border-width: 2px;
}
.login-container {
  padding-top: 7rem;
}
.devise-links {
  color: #19FE73;
}
.display-3 {
  // color: #FFF859;
}
.f-label {
  color: #FEEE59;
}
